<html>

<head>

      <title>Create user</title>
      <link rel="stylesheet" type="text/css" href="/css/login.css">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
      <br> <br>
      <div class="loginBox" >
            <div class="img" style="padding-left: 18%;">
            <img src="/images/avatar.jpg"  id="myimage" alt="user" name="image1" style="border: 1px solid #C400D7;
            border-radius: 50%;
            padding: 7px;
            height: 130px;
            width: 130px;
            "
            >
            <i class="fas fa-camera"  onclick="document.getElementById('file').click();"  style="z-index: 9999; margin:-20px 0 0 -23%; padding: 3px; background-color: white; border-radius: 50%; font-size: 20px;  border: 1px solid rgba(56, 53, 56, 0.986) ; cursor: pointer;"></i>
            </div>
            <div class="alert" style="font-size: 12; height: 25px; padding: 0; margin: 0px;">
                  <% if (errors !==""){%>
                        <% errors .forEach((item) =>{%>
                        <div class="alert-danger" style="display: inline; ">
                              <%- item %>
                        </div>
                        <%})%>
                        <%}%>   
            </div>
           
            <h1>Sign Up</h1>
           
            <form method="POST" action="/api/createUser" enctype="multipart/form-data">
                
                  <input type="file" style="display: none;" name="image" id="file" >
                  <p>First name </p>
                  <input type="text" name="firstName" required placeholder="&#xf4fc Enter Your name "
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;">
                  <p>Last name  </p>
                  <input type="text" name="lastName" required placeholder="&#xf4ff Enter last name "
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;" >
                  <p class="em">Email <span style="color: red;">*</span></p>
                  <input type="email" name="email" class="em" required placeholder="&#xf0e0 Enter Your email "
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;">
                        <p>Password <span style="color: red;">*</span></p>
                  <input type="password" name="password" required placeholder="&#xf084 Enter password "
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;">
                  <p>Address</p>
                  <input type="text" name="address" required placeholder="&#xf3c5 Enter Your address"
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;" >
                  
                 
                  <br><br>
                  <input type="submit" name="sub" value="Sign up">
           
            </form>
      </div>
      <script src="fontawesome-free-5.15.4-web/css/all.css" crossorigin="anonymous"></script>
      <script>
            document.getElementById('file').onchange = function (evt) {
                  var tgt = evt.target || window.event.srcElement,
                        files = tgt.files;
                  // FileReader support
                  if (FileReader && files && files.length) {
                        var fr = new FileReader();
                        fr.onload = function () {
                              document.getElementById("myimage").src = fr.result;
                        }
                        fr.readAsDataURL(files[0]);
                  }
                  // Not supported
                  else {
                        errors="you did not upload your image"
                        // fallback -- perhaps submit the input to an iframe and temporarily store
                        // them on the server until the user's session ends.
                  }
            }
      </script>
</body>

</html>